# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Installer logs
pip-log.txt

# Distribution / packaging
dist
build
eggs
parts
bin
develop-eggs
.installed.cfg
scratch
env
venv*
wheels
lib
lib64
share
pyvenv.cfg

# Unit test / coverage reports
.coverage
.pytest_cache/
.tox
test.py

.DS_Store

#htmlcov
htmlcov*

# pyenv
.python-version

# Visual Studio Code
.vscode/