# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.swp

# Installer logs
pip-log.txt

# Distribution / packaging
dist
build
eggs
parts
bin
develop-eggs
.installed.cfg
scratch
env
venv*
wheels
lib
lib64
share
pyvenv.cfg
*.egg-info
man
include
credentials.py

# Unit test / coverage reports
.coverage
.pytest_cache/
.tox

.DS_Store

#htmlcov
htmlcov*

# pyenv
.python-version

# Visual Studio Code
.vscode/

# Development
templates/