class {{class_name}}():
    def __init__(self, base):
        self.method = "{{endpoint}}"
        self.base = base
    
    def fetch(self, params={}):
        return self.base.request(self.method, params=params)